.isoIcon {
  height: 40.5px;
  width: 40.5px;
  position: relative;
  min-height: 41px;
}
.sanJuan1 {
  margin: 0;
}
.gobierno {
  margin: 0;
  font-size: var(--font-size-base-4);
  line-height: 100%;
  font-weight: 300;
}
.sanJuan,
.trazado26Icon {
  position: relative;
}
.trazado26Icon {
  width: 1.4px;
  height: 35.7px;
}
.trazado26Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-9) 0 0;
}
.ministerioDe,
.salud {
  margin: 0;
  font-weight: 300;
}
.salud {
  font-weight: 500;
}
.ministerioHacienda {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.logoGobierno,
.ministryName {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ministryName {
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  font-size: var(--font-size-smi-6);
}
.logoGobierno {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-sm-3);
  text-align: left;
  font-size: var(--font-size-xl-7);
  color: var(--color-gray);
  font-family: var(--body-1);
}
