.pdfIcon {
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.descargar {
  margin: 0;
}
.ofrecimientosHsYContainer {
  flex: 1;
  position: relative;
}
.cardBotonesSecundarios {
  width: 261.2px;
  border-radius: var(--br-3xs);
  background-color: var(--blanco);
  border: 0.8px solid var(--gris-70);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-sm);
  gap: var(--gap-mini);
  text-align: left;
  font-size: var(--body-1-size);
  color: var(--gris-principal);
  font-family: var(--body-1);
}
