

.reaAfiliaciones {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  text-transform: capitalize;
}
.reaAfiliacionesWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-43xl);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.paraPresentacinDe {
  align-self: stretch;
  position: relative;
  font-size: var(--body-1-size);
  font-weight: 700;
  color: var(--gris-principal);
  text-align: left;
  padding-left: 50px;
 
}

.areaActionWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;

}


.areaAction {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem; 
  max-width: 100%;
  justify-items: center; 
  overflow: hidden;
 
  
}

.areaDescription,
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
}
.frameParent {
  align-self: stretch;
  justify-content: space-around;
  padding: 0 var(--padding-7xs) var(--padding-12xs-1);
  gap: var(--gap-14xl-8);
}
.areaDescription {
  width: 550px;
  align-items: flex-start;
  padding: var(--padding-7xl-4) 0 0;
}

.losTrmitesQue {
  margin-block-start: 0;
  margin-block-end: 20px;
}

.losTrmitesQueContainer {
  width: 500px;
  position: relative;
  display: inline-block;
  max-height: 238px;
  padding-right: 20px;
  word-break: break-word;
  
}
.losTrmitesQueSeRealizanPWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-mid) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--body-1-size);
  color: var(--gris-principal);
}

.areaDescriptionParent,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.areaDescriptionParent {
  width: 1349.5px;
  justify-content: space-evenly;
  gap: var(--gap-xl);
}
.frameWrapper {
  align-self: stretch;
  justify-content: flex-end;
}
.areaNavigationParent {
  width: 1401.8px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-45xl-9);
  font-size: var(--h11-size);
  color: var(--osp);
}
.areaNavigationParent,
.ospAfiliacionesInner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}

.ospAfiliacionesInner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-53xl-5);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-base-8);
  color: var(--gris-principal);
  font-family: var(--body-1);
}
.lineaDivisoria {
  height: 250px;
  width: 2.9px;
  position: relative;
  border-right: 3px solid var(--osp);
  box-sizing: border-box;
}





@media screen and (max-width: 1200px) {
  .areaDescriptionParent {
    flex-wrap: wrap;
  }
  .ospAfiliacionesInner {
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
  .lineaDivisoria {
    position: relative;
    height: 2.9px; 
    width: 50%; 
    border-bottom: 2.9px solid var(--osp); 
    border-right: none; 
    margin-top: 20px; 
  }
  .areaAction {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 650px) {
  .losTrmitesQueContainer,
  .areaDescription {
    width: 90%;
    font-size: 2rem; 
  }

  .areaAction {
    grid-template-columns: 1fr; 
  }
.losTrmitesQueContainer {
  width: 90%;
  font-size: 1rem; 
  margin-left: 20px;
  
}
.lineaDivisoria {
  
  width: 70%; 

}
  

}

@media screen and (max-width: 450px) {
  
  .losTrmitesQueContainer,
  .areaDescription {
    width: 90%;
    font-size: 1.5rem; 
  }

 
.losTrmitesQueContainer {
  width: 90%;
  font-size: 0.8rem; 
  margin-left: 20px;
 text-rendering: auto;
  
}
.lineaDivisoria {
 
  width: 70%; 
  
}

}




