
.areaNavigation {
  width: 242.6px;
  gap: var(--gap-mini);
}
.reaAfiliaciones {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  text-transform: capitalize;
}
.reaAfiliacionesWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-43xl);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.paraPresentacinDe {
  align-self: stretch;
  position: relative;
  font-size: var(--body-1-size);
  font-weight: 500;
  color: var(--gris-principal);
}
.areaAction,
.areaActionWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.areaAction {
  justify-content: center;
  gap: var(--gap-56xl-6);
}
.areaActionWrapper {
  justify-content: flex-end;
  padding: 0 var(--padding-8xl);
  box-sizing: border-box;
}
.areaDescription,
.frameParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frameParent {
  align-self: stretch;
  align-items: flex-end;
  padding: 0 var(--padding-7xs) var(--padding-12xs-1);
  gap: var(--gap-14xl-8);
}
.areaDescription {
  width: 541.5px;
  align-items: flex-start;
  padding: var(--padding-7xl-4) 0 0;
}
.frameChild {
  height: 272px;
  width: 0;
  position: relative;
  object-fit: contain;
}
.losTrmitesQue {
  margin-block-start: 0;
  margin-block-end: 20px;
}
.afiliacionesospgmailcom1 {
  text-decoration: underline;
}
.afiliacionesospgmailcom {
  margin: 0;
  color: var(--osp);
}
.losTrmitesQueContainer {
  width: 530px;
  position: relative;
  display: inline-block;
  max-height: 238px;
  word-break: break-word;
}
.losTrmitesQueSeRealizanPWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--body-1-size);
  color: var(--gris-principal);
}
.areaDescriptionParent,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.areaDescriptionParent {
  width: 1349.5px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameWrapper {
  align-self: stretch;
  justify-content: flex-end;
}
.areaNavigationParent {
  width: 1401.8px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-45xl-9);
  font-size: var(--h11-size);
  color: var(--osp);
}
.areaNavigationParent,
.ospAfiliacionesInner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}

.ospAfiliacionesInner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-53xl-5);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-base-8);
  color: var(--gris-principal);
  font-family: var(--body-1);
}


@media screen and (max-width: 1200px) {
  .botones {
    padding-left: var(--padding-17xl);
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
  .areaDescriptionParent {
    flex-wrap: wrap;
  }
  .ospAfiliacionesInner {
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .reaAfiliaciones {
    font-size: var(--font-size-19xl);
  }
}
@media screen and (max-width: 750px) {
  .botones {
    gap: var(--gap-lg);
  }
  .cabeceraConIconos {
    padding-top: var(--padding-7xl);
    padding-bottom: var(--padding-7xl);
    box-sizing: border-box;
  }
  .reaAfiliacionesWrapper {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
  .areaAction {
    flex-wrap: wrap;
  }
  .frameParent {
    gap: var(--gap-mid);
  }
  .areaNavigationParent {
    gap: var(--gap-13xl);
  }
  .cabeceraConIconosParent {
    gap: var(--gap-4xl);
  }
  .ospAfiliacionesInner {
    padding-bottom: var(--padding-12xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .afiliaciones {
    font-size: var(--font-size-lgi);
  }
  .reaAfiliaciones {
    font-size: var(--font-size-10xl);
  }
  .areaAction {
    gap: var(--gap-19xl);
  }
  .areaNavigationParent {
    gap: var(--gap-base);
  }
}
