.contentBottomContainerChild {
  height: 197.9px;
  width: 2.9px;
  position: relative;
  border-right: 2.9px solid var(--osp);
  box-sizing: border-box;
}
.custodiarYPreservar,
.misin {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-family: inherit;
}
.misin {
  font-size: inherit;
  font-weight: 500;
}
.custodiarYPreservar {
  height: 90px;
  font-size: var(--body-1-size);
  font-weight: 300;
  display: flex;
  align-items: center;
}
.functionContainer,
.functionContainerWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.functionContainer {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-9xl-2);
}
.functionContainerWrapper {
  width: 409.5px;
  justify-content: flex-end;
  padding: 0 var(--padding-10xs) var(--padding-17xl-1) 0;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.visionDivider {
  height: 197.9px;
  width: 2.9px;
  position: relative;
  border-right: 2.9px solid var(--osp);
  box-sizing: border-box;
}
.visin {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.visinWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-20xl) 0 var(--padding-27xl);
  box-sizing: border-box;
  max-width: 100%;
}
.lograrElPosicionamiento {
  margin: 0;
}
.lograrElPosicionamientoContainer {
  margin: 0;
  align-self: stretch;
  height: 108px;
  position: relative;
  font-size: var(--body-1-size);
  font-weight: 300;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.missionContainer1,
.visionContainer,
.visionDescription {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.visionDescription {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-9xl-2);
}
.missionContainer1,
.visionContainer {
  box-sizing: border-box;
  flex-shrink: 0;
}
.missionContainer1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-smi-7) 0 0;
  min-width: 264px;
}
.visionContainer {
  width: 460.9px;
  flex-direction: row;
  padding: 0 var(--padding-3xs) 0 0;
  gap: var(--gap-21xl-8);
}
.functionDivider {
  height: 197.9px;
  width: 2.9px;
  position: relative;
  border-right: 2.9px solid var(--osp);
  box-sizing: border-box;
}
.nuestraInstitucinResguardaContainer {
  margin: 0;
  align-self: stretch;
  height: 126px;
  position: relative;
  font-size: var(--body-1-size);
  font-weight: 300;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.socialFunction {
  width: 406.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xl-2);
  max-width: 100%;
  flex-shrink: 0;
}
.frameParent,
.missionContent {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frameParent {
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-21xl-9);
}
.missionContent {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-end;
}
.estructuraOrganizacional {
  margin: 0;
  width: 413px;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.missionContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-18xl-6);
  max-width: 100%;
}
.laDireccinDelContainer {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--body-1-size);
  font-weight: 300;
  font-family: inherit;
}
.missionContainerParent {
  width: 1450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl-8);
  max-width: calc(100% - 0px);
  margin-left: -2.9px;
}
.contentBottomContainer {
  align-self: stretch;
  border-radius: 19.44px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-31xl) var(--padding-xl) var(--padding-27xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--h1-size);
  color: var(--gris-principal);
  font-family: var(--body-1);
}
@media screen and (max-width: 1350px) {
  .functionDivider {
    width: 100%;
    height: 2.9px;
  }
  .frameParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .frameParent {
    gap: var(--gap-xl);
  }
  .missionContainer {
    gap: var(--gap-lgi);
  }
  .missionContainerParent {
    gap: var(--gap-base);
  }
}
@media screen and (max-width: 450px) {
  .misin {
    font-size: var(--font-size-lgi);
  }
  .visionDivider {
    width: 100%;
    height: 2.9px;
  }
  .visin {
    font-size: var(--font-size-lgi);
  }
  .visinWrapper {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .visionContainer {
    gap: var(--gap-xl);
    flex-wrap: wrap;
  }
  .estructuraOrganizacional {
    font-size: var(--font-size-lgi);
  }
  .contentBottomContainer {
    padding-top: var(--padding-13xl);
    padding-bottom: var(--padding-11xl);
    box-sizing: border-box;
  }
}
