.buttonsContainer,
.cardIconBicolor,
.contentContainer {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.buttonsContainer {
  flex: 1;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  padding: 0 var(--padding-31xl) 0 0;
  box-sizing: border-box;
  gap: 26px 49px;
  min-height: 186px;
}

.cardIconBicolor,
.contentContainer {
  align-self: stretch;
  align-items: flex-start;
}
.contentContainer {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}
.cardIconBicolor {
  flex-direction: column;
  padding: var(--padding-31xl) var(--padding-216xl);
  box-sizing: border-box;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .buttonsContainer {
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .cardIconBicolor {
    padding-left: var(--padding-98xl);
    padding-right: var(--padding-98xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .buttonsContainer {
    gap: var(--gap-5xl);
  }
  .contentContainer {
    gap: var(--gap-38xl);
  }
  .cardIconBicolor {
    gap: var(--gap-mini);
    padding-left: var(--padding-39xl);
    padding-right: var(--padding-39xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .contentContainer {
    gap: var(--gap-10xl);
  }
}
