.headerSpacingIcon {
  width: 70%;
  max-width: 224px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.headerLeft,
.socialesWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.headerLeft {
  width: 996px;
  box-sizing: border-box;
  max-width: 100%;
}
.socialesWrapper {
  align-self: stretch;
}
.busquedaChild,
.busquedaItem {
  height: 29.9px;
  width: 544.2px;
  position: relative;
  border-radius: var(--br-6xs);
  background-color: var(--blanco);
  border: 1px solid var(--gris-principal);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.busquedaItem {
  height: 36px;
  width: 544px;
}
.queTrmiteO {
  width: calc(100% - 60px);
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--body-1);
  font-size: var(--font-size-smi);
  background-color: transparent;
  height: 16px;
  flex: 1;
  position: relative;
  color: var(--gris-70);
  text-align: left;
  display: flex;
  align-items: center;
  min-width: 145px;
  padding: 0;
  z-index: 2;
}
.busqueda {
  flex: 1;
  border-radius: var(--br-6xs);
  background-color: var(--blanco);
  border: 1px solid var(--gris-principal);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.lupa2Icon {
  height: 36px;
  width: 36px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 36px;
}
.busquedaParent,
.socialButtonsContainer {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.busquedaParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  gap: 5px;
}
.socialButtonsContainer {
  width: 595.2px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.pacientesCronicosIcon {
  height: 49.1px;
  width: 49.1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.pacientesCronicosWrapper {
  width: 71.6px;
  border-radius: 4.68px;
  background-color: var(--blanco);
  border: 0.7px solid var(--gris-70);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-3xs);
}
.pacientes {
  margin: 0;
}
.misDocumentos {
  align-self: stretch;
  height: 44.9px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.botonServicio,
.botones {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.botonServicio {
  width: 140px;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-5xs-7) var(--padding-6xs);
  gap: var(--gap-3xs-8);
}
.botones {
  width: 996px;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0 var(--padding-54xl) 0;
  gap: 13px 36px;
  min-height: 285px;
  max-width: 100%;
}

@media screen and (max-width: 500px) {
  .botones {
    padding: 0px;
    gap: 0px !important;
  }
  
}
.cabeceraConIconos,
.cabecerarequisito,
.cardVerticalParent {
  align-self: stretch;
  display: flex;
}
.cabeceraConIconos {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--blanco);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-21xl) 0;
  box-sizing: border-box;
  gap: var(--gap-6xl);
  max-width: 100%;
  z-index: 1;
}

.cabecerarequisito {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--blanco);
  padding: var(--padding-21xl) 0; 
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
  overflow: hidden;
  display: flex;
}

.cardVerticalParent {
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-26xl-5);
  font-size: var(--body-10-size);
  color: var(--color-black);
}
.cabeceraConIconosParent,
.ospLandingInner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.cabeceraConIconosParent {
  width: 1450.4px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-17xl);
}
.ospLandingInner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-6xs);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-base-8);
  color: var(--gris-principal);
  font-family: var(--body-1);
}



.botonArea {
  align-self: stretch;
  width: 64px;
  position: relative;
  max-height: 100%;
  min-height: 47px;

}
.servicios {
  position: relative;
  font-size: var(--h1-size);
  display: inline-block;
  font-family: var(--body-1);
  color: var(--blanco);
  text-align: left;
  min-width: 105px;
}
.servicesButton,
.serviciosWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.serviciosWrapper {
  border: 0;
  padding: var(--padding-3xs-5) var(--padding-xl);
  background-color: var(--osp);
  flex: 1;
  border-radius: 0 var(--br-3xs) var(--br-3xs) 0;
  
}
.serviciosWrapper:hover {
  background-color: var(--color-tomato);
}
.servicesButton {
  width: 231px;
  gap: var(--gap-mid);
}

.contactParent{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  gap: 20px;
}

@media screen and (min-width: 1350px) {
  .botones {
    padding-left: var(--padding-17xl);
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .botones {
    gap: var(--gap-lg);
  }
  .cabeceraConIconos {
    padding-top: var(--padding-7xl);
    padding-bottom: var(--padding-7xl);
    box-sizing: border-box;
  }
  .cardVerticalParent {
    gap: var(--gap-4xl);
  }
  .cabeceraConIconosParent {
    gap: var(--gap-lg);
  }
}
