.carrusel {
  padding: 0px 126px !important;
  height: auto;
}

@media screen and (max-width: 1200px) {
  .carrusel{
    padding: 0px 0px !important;
  }
}

.carrusel img {
  width: 100%;
  height: auto;
}