.carousel {
    width: 100%;
}

.carousel-inner {
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    height: 70vh;
    width: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    max-width: 1500px;
    object-fit: cover;
    margin: auto; 
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: block;
}

.carousel-caption {
    bottom: 1.25rem;
    left: 12%;
    padding: 75px 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
}

.carousel-caption .header-content {
    padding: 5%;
    position: relative;
}








.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 4rem; 
    height: 4rem; 
    background-size: 100% 100%;
}



@keyframes fadeInLeft {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }

}

@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
.carousel-dark .carousel-control-next-icon,
.carousel-dark .carousel-control-prev-icon {
    filter: invert(1) grayscale(100)
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #000
}

.carousel-dark .carousel-caption {
    color: #000
}

[data-bs-theme=dark] .carousel .carousel-control-next-icon,
[data-bs-theme=dark] .carousel .carousel-control-prev-icon,
[data-bs-theme=dark].carousel .carousel-control-next-icon,
[data-bs-theme=dark].carousel .carousel-control-prev-icon {
    filter: invert(1) grayscale(100)
}

[data-bs-theme=dark] .carousel .carousel-indicators [data-bs-target],
[data-bs-theme=dark].carousel .carousel-indicators [data-bs-target] {
    background-color: #000
}

[data-bs-theme=dark] .carousel .carousel-caption,
[data-bs-theme=dark].carousel .carousel-caption {
    color: #000
}

@media (max-width: 768px) {
    .carousel-caption h1 {
      font-size: 3vw; 
      margin-bottom: 1vw; 
    }
  
    .carousel-caption h2 {
      font-size: 2.5vw; 
    }
  
    .carousel-caption h4 {
      font-size: 1.8vw; 
      line-height: 3vw; 
      max-height: calc(4vw * 3);
      text-overflow: ellipsis;
    }
  
    .carousel-item img {
      height: 90%; 
    }
  
    .carousel-caption .header-content {
        padding: 50px;
        margin-top: 15%;
        max-width: 100%;
        box-sizing: border-box; 
        
        
    }
    .carousel-caption {
        height:60%;
       
    }
    .carousel-item {
        height: 50vh;
      
    }
}


  @media only screen and (min-width: 769px) and (max-width: 1200px) {
    .carousel-caption h1 {
      font-size: 4vw; 
      margin-bottom: 1vw; 
    }
  
    .carousel-caption h2 {
      font-size: 3vw; 
    }
  
    .carousel-caption h4 {
      font-size: 2vw; 
      line-height: 2vw; 
      
    }
  
    .carousel-item img {
      height:90%; 
    }
  
    .carousel-caption {
        height:80%;
       
    }
    .carousel-caption .header-content {
        margin-top: 8%;
        height:190%;
        box-sizing: border-box; 
    }
     
    .carousel-item {
        height: 60vh;
      
    }
    
  }
  